<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div align="center">
  <h1>Users</h1>

  <table border="1">

    <th>Name</th>
    <th>Password</th>
    <th>E-mail</th>
    <th>Role</th>
    <th>Update</th>
    <th>Delete</th>


    </tr>
    <tr th:each="user : ${AllUsers}">
      <td th:text="${user.getName()}"></td>
      <td th:utext="${user.getPassword()}"></td>
      <td th:utext="${user.getEmail()}"></td>
      <td th:utext="${user.getAutorities()}"></td>
    </tr>

  </table>
  <form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
  </form>
</div>
</body>
</html>