<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<div align="center">
<form method="POST" th:action="@{/newUser}"  th:object="${user}">
  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name"/>
  <br>
  <label for="password">Password</label>
  <input name="password" type="text" id="password"/>
  <br>
  <label for="email">E-mail</label>
  <input name="email" type="text" id="email"/>
    <br>
  <input type="checkbox" name="roles" value="ROLE_USER"/> USER
  <input type="checkbox" name="roles" value="ROLE_ADMIN"/> ADMIN
  <br>
  <input type="submit" value="Add user"/>
</form>
  <br>
  <br>
  <form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
  </form>
</div>
</body>
</html>